.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  margin: auto;
  background-color: #ebeef8;
  border-top-left-radius: 50px 70px;
  border-bottom-left-radius: 50px 70px;
}

.form-bg {
	background-image: linear-gradient(to left, #a3aedf, #b1bbe4, #ced4ee);
}

img {
	padding-top: 4rem;
}

button {
	width: 150px;
}

#firstCol {
	padding-left: 12rem;
)