

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

:root {
  --sidebar-width: 280px;
  --sidebar-margin: -280px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    /* padding: 15px 10px; */
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 2px dashed #ddd;
    margin: 20px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: var(--sidebar-margin);
}

#sidebar .sidebar-header {
    padding: 9px;
    background: #5a6ec5;
    font-family: 'Righteous', sans-serif;
    font-weight: 300;
}

.brand {
  margin-left: 9px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.0em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #566dd0;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.slide {
  display: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#content main {
  padding: 20px;
}
/* ---------------------------------------------------
    Search box
----------------------------------------------------- */
.search-box {
  margin-top: -40px;
}
.search_error {
  margin-top: 10px;
  margin-bottom: -20px;
}


/* ---------------------------------------------------
    Star Rating
----------------------------------------------------- */

.rating {
 border: none;
 float: left;
  }

.rating > input { display: none; }
.rating > label:before {
 margin: 5px;
 font-size: 1.25em;
 font-family: FontAwesome;
 display: inline-block;
  }



   .rating > label {
    color: #ddd;
    float: right;
     }

     /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label, /* show gold star when clicked */
     .rating:not(:checked) > label:hover, /* hover current star */
      .rating:not(:checked) > label:hover ~ label { color: #FFD700;  }
       /*        hover previous stars in list */

       .rating > input:checked + label:hover,
       .rating > input:checked ~ label:hover,
       .rating > label:hover ~ input:checked ~ label,
       .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.full-color {
  color: #FFD700;
}

/* ---------------------------------------------------
    Legend table
----------------------------------------------------- */

.legend .legend-rate {

}
.legend .legend-label {
  font-style: italic;
  font-size: 0.8rem;
  color: black;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: var(--sidebar-margin);
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    BG NAV-TOP
----------------------------------------------------- */
.bg-nav-top {
	background: #e6e6fa;
}

/* ---------------------------------------------------
    SELF_DELETE - Hide Confirmation
----------------------------------------------------- */
.hide_del_confirm {
	display: none;
}

/* ---------------------------------------------------
    PAGE NOT FOUND
----------------------------------------------------- */
.copy_right {
	padding-top: 100px;
}

body.page-bg {
	/*background-image: linear-gradient(#a3aedf, #b1bbe4, #ced4ee);*/
	background: #ced4ee;
	padding-top: 5%;
}

a.btn_page {
	width: 150px;
	margin-right:10px;
	color: #ffff;
}

.error-template img {
	width: 200px;
}
	
.error-template {
	padding: 35px 10px;
	background: #ebeef8;
	border-radius: 10px;
}

.error-details {
	margin-top:15px;
	margin-bottom:15px;
}