<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
	<link rel="stylesheet" th:href="@{/css/style.css}">
<style>
	body{
		 background-color: white;
		 color: black;
	}
	.table .thead-light th {
	  color: #401500;
	  background-color: #48f3ff;/*   #4fcdff; */
	  border-color: #3a93ff;
	}
	.table .thead-dark th {
	  color: #401500;
	  background-color: #FFDDCC;
	  border-color: #792700;
	}
</style>
<title>Hello, world!</title>
</head>
<body>
	<div class="container mb-2">
		<div class="jumbotron jumbotron-fluid pt-3 pb-3 mb-3 mt-1">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<h1 class="display-5">Hello, world!</h1>
						<p class="lead" style="color:black;">This page displays confirmed cases
							of Corana Virus.</p>
						<p style="color:black;">
							Data is fetch from
				<a style="color:blue;" href="https://github.com/CSSEGISandData/COVID-19" target="_blank">Github:
					CSSEGISandData/COVID-19</a>
						</p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<b>World Wide</b>
					<table class="table">
						<thead class="thead-light">
							<tr>
								<th>Confirmed</th>
								<th>Recovered</th>
								<th>Deaths</th>
							</tr>
						</thead>
						<tr>
							<td><span class="count" th:text="${totalConfirmed}"> 0 </span></td>
							<td><span class="count" th:text="${totalRecovered}"> 0 </span></td>
							<td><span class="count" th:text="${totalDeath}"> 0 </span></td>
						</tr>
					</table>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<h2>SEA Countries Ranking</h2>
				<table class="table table-striped table-hover">
				    <thead class="thead-light">
				        <tr>
				            <th> Country </th>
				            <th align="right"> Confirmed Cases </th>
				            <th align="right"> # of Recovered </th>
				            <th align="right"> # Of Deaths </th>
				        </tr>
				    </thead>
				    <tbody>
				    <tr th:if="${sea.empty}">
				            <td colspan="2"> No Books Available </td>
				        </tr>
				        <tr th:each="item : ${sea}">
				            <th><span th:text="${item.country}"> Country </span></th>
				            <td align="right">
				            	<span class="count" th:text="${item.totalConfirmed}"> 0 </span>
				            </td>
				        	<td align="right">
				        		<span class="count" th:text="${item.totalRecovered}"> 0 </span>
				        	</td>
				        	<td align="right">
				        		<span class="count" th:text="${item.totalDeath}"> 0 </span>
				        	</td>
				        </tr>
				    </tbody>
				</table>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<h2>Top <span th:text="${topAllLimit}"></span> Countries With Most Cases</h2>
				<table class="table table-striped table-hover">
				   	<thead class="thead-light">
				        <tr>
				            <th> Country </th>
				            <th align="right"> Confirmed Cases </th>
				            <th align="right"> # of Recovered </th>
				            <th align="right"> # Of Deaths </th>
				        </tr>
				    </thead>
				    <tbody>
				    <tr th:if="${topAll.empty}">
				            <td colspan="2"> No Books Available </td>
				        </tr>
				        <tr th:each="item : ${topAll}">
				            <th><span th:text="${item.country}"> Country </span></th>
				            <td align="right">
				            	<span class="count" th:text="${item.totalConfirmed}"> 0 </span> <!-- #numbers.formatInteger(item.totalConfirmed,3,'COMMA') -->
				            </td>
				        	<td align="right">
				        		<span class="count" th:text="${item.totalRecovered}"> 0 </span>
				        	</td>
				        	<td align="right">
				        		<span class="count" th:text="${item.totalDeath}"> 0 </span>
				        	</td>
				        </tr>
				    </tbody>
				</table>
			</div>
			
		</div>
		<!-- <div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
			<h2>All Countries</h2>
			<table id="dataTable" class="table table-striped">
				    <thead>
				        <tr>
				            <th> Country </th>
				            <th align="right"> Confirmed Cases </th>
				            <th align="right"> # of Recovered </th>
				            <th align="right"> # Of Deaths </th>
				        </tr>
				    </thead>
				    <tbody>
				    <tr th:if="${all.empty}">
				            <td colspan="2"> No Books Available </td>
				        </tr>
				        <tr th:each="item : ${all}">
				            <td><span th:text="${item.country}"> Country </span></td>
				            <td align="right">
				            	<span th:text="${#numbers.formatInteger(item.totalConfirmed,3,'COMMA')}"> 0 </span>
				            </td>
				        	<td align="right">
				        		<span th:text="${#numbers.formatInteger(item.totalRecovered,3,'COMMA')}"> 0 </span>
				        	</td>
				        	<td align="right">
				        		<span th:text="${#numbers.formatInteger(item.totalDeath,3,'COMMA')}"> 0 </span>
				        	</td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div> -->
		
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
		
	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.6/chosen.jquery.min.js"></script>
		<script type="text/javascript" charset="utf8"
			src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		
	<script type="text/javascript">
		
		
	
		$(document).ready(function() {
			/* $('#dataTable').DataTable({
				"paging" : true,
				"ordering" : true,
				"info" : false,
			}); */
			
			$('.count').each(function () {
			    $(this).prop('Counter',0)
				    .animate({
				        Counter: $(this).text()
				    }, {
				        duration: 10000,
				        easing: 'swing',
				        step: function (now) {
				            $(this).text(Math.ceil(now));
				        },
				        done: function() {
				        	$(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
				        }
				    });
			});
		});
		
		
	</script>
	
</body>
</html>